body {
    margin:0;
    padding:0;
    display:flex;
    justify-content:center ;
}

/*start page*/
#sound{
    width:20px;
    height:20px;
    color:white;
    cursor: pointer;
}
#start-page{
    width:100%;
    height:100vh;
    display:flex; 
    flex-direction:column;
    align-items:center ;
    font-family: 'Baloo Bhai';
    background-image: url('images/homebg.jpg');
    background-size:100% 100vh;
}
#aboutUs{
    width:30vw;
    height:50vh;
    border-radius:20px;
    background-image:url('images/aboutbg.jpg');
    display:none;  /*flex*/
    flex-direction:column;
    justify-content:space-around;
    align-items:center ;
    position:fixed ;
    font-family: 'Baloo Bhai';
    font-size:2.7vh;
    font-weight:bold;
    top:25%;
    color:white;
    border:5px double red;
    
}

#cprt{
    padding-left:20px;
}
#closeAboutbtn{
    position: absolute;
    right:0;
    top:0;
    width: 30px;
    height:30px;
    font-weight:bold;
    border-radius:50%;
    background-color:red;
    cursor: pointer;
    color:white;
}
#head-about{
    text-decoration:underline ;
}
#start-ctrl{
    height:50vh;
    display:flex;
    align-items:center ;
    justify-content:space-around;
    flex-direction:column;
    margin-top:4em;
}
#game-title{
    margin-top:1em;
    width:100%;
    height:10vh;
    display:flex;
    justify-content:center ;
    align-items:center ;
    color:white;
    font-size:10vh;
}
/*#txt{
    background-color: red;
    background-image: linear-gradient(120deg, #EA9A6F, #DE791E, #FCCF3A); 
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}*/
#start-btn,#game-level,#lvl-option{
    width:57vw;
    height:7.7vh;
    display:flex;
    justify-content:center ;
    align-items:center ;
    color:yellow;
    font-family: 'Baloo Bhai';
    font-size:3vh;
    border-radius:50px;
    outline:none;
    background-color:black;
    border:2px solid white;
    cursor: pointer;
}
/*start page end*/
/*container start*/
#container{
    width:100%;
    height:100vh;
    display:none;
    flex-wrap:wrap;
    justify-content:center ;
    background-color: #000;
}
#out-box{
    width:30vw;
    height:42vh;
    border-radius:70px;  
    background-image:url('images/aboutbg.jpg');
    display:none;  /*flex*/
    flex-direction:column;
    justify-content:space-around;
    align-items:center ;
    position:fixed ;
    font-family: 'Baloo Bhai';
    font-size:3vh;
    font-weight:bold;
    top:25%;
    color:white;
    border:5px double red;
}
#selectOut{
    width:12em;
    display:flex;
    justify-content:space-between;
}
#home,#reStart{
    width:27vw;
    height:7vh;
    display:flex;
    justify-content:center ;
    align-items:center ;
    color:yellow;
    font-family: 'Baloo Bhai';
    font-size:3vh;
    border-radius:50px;
    outline:none;
    background-color:black;
    border:2px solid white;
    cursor: pointer;
}
#score{
    width:100%;
    height:7vh;
    border-radius:50px;
    display:flex;
    margin-top:3px;
    justify-content:space-between;
    align-items:center ;
    background-color:orange;
    font-weight:bold;
}
#scoreC, #scoreH{
    width:13em;
    height:3em;
    display:flex;
    padding-left:2em;
    align-items:center ;
    color:white;
}

#canvas{
    width:500px;
    height:500px;
    border:5px solid blue;
    background-color:black;
}
